@{

}

<link rel="stylesheet" href="~/css/Paginas/curriculo.css" asp-append-version="true" />

<main class="apresentacao">
    <section class="apresentacao__secao">
        <div class="conteudo__foto">
            <img class="foto" src="~/Imagens/Fotos/Foto_Home.jpeg" alt="Foto Do Dono do Portifólio">
        </div>
        <div class="conteudo__cabecalho">
            <h1 class="nome">Gabriel Bento Ferreira</h1>
            <h2 class="curso">Sistemas De Informação</h2>
        </div>
        <div class="conteudo__resumo">
            <p>
                Aluno Cursando Sistemas de Informação na
                Faculdade São Luis, com conhecimento na
                linguagem de programação C# para criação de
                Web Sites com Asp.Net ou Criação de aplicativos
                Desktop para Windows, procurando uma primeira
                oportunidade de estágio para ingressar na área
                de Sistemas de Informação.
            </p>
        </div>
        <div class="conteudo__especificacoes">
            <div class="experiencia-profissional">
                <p class="titulo">Experiencia Profissional:</p>
                <p class="experiencia-profissional__paragarafo">
                    Sem Experiencia na área, buscando uma
                    primeira oportunidade de estágio, uma
                    pessoa que se esforça para aprender tudo
                    que possivel, e tem o intuito de dar tudo
                    de si pela empresa que está no momento.
                </p>
            </div>
            <div class="informacoes-tecnicas">
                <p class="titulo">Informações Técnicas:</p>
                <img src="~/Imagens/Tecnologias/HTML.png" alt="Icone HTML">
                <img src="~/Imagens/Tecnologias/CSS.png" alt="Icone CSS">
                <img src="~/Imagens/Tecnologias/C-sharp.png" alt="Icone C#">
            </div>
            <div class="certificados">
                <div class="contato">
                    Celular: (16)99637-8787<br>
                    <a href="mailto:gabrielfb317@gmail.com">Email: gabrielfb317@gmail.com</a>
                    <a href="https://drive.google.com/drive/folders/1FMVvPGpVccGGHOq9eYNmMvXN4-mNQV1Z?usp=sharing">Cursos: certificados!</a>
                </div>                
            </div>
        </div>
    </section>
</main>