@{
    ViewData["Title"] = "";
}

<link rel="stylesheet" href="~/css/Paginas/home.css" asp-append-version="true" />

<main class="apresentacao">
    <section class="apresentacao__secao">
        <div class="conteudo__foto">
            <img class="foto" src="~/Imagens/Fotos/Foto_Home.jpeg" alt="Foto Do Dono do Portifólio">
        </div>
        <div class="apresentacao__conteudo">
            <p class="texto-conteudo">
                Meu nome é Gabriel Bento Ferreira, estudo na faculdade São Luis de Jaboticabal
                estou no meu último ano, sou desenvolvedor de <strong>Front-end(CSS e HTML)</strong>
                e também desenvolvo o back-end em <strong>C#</strong>.Estou interessado em
                te ajudar em suaempresa no que for preciso relacionado a programação.
                Vamos Conversar?
            </p>
        </div>
    </section>
    <section class="apresentacao__secao">
        <a href="https://github.com/GabrielBF-66" target="_blank" class="conteudo__social__github">
            <img src="~/Imagens/Redes/Github.svg" alt="">
        </a>
        <a href="https://codepen.io/your-work/" target="_blank" class="conteudo__social__codepen">
            <img src="~/Imagens/Redes/Codepen.svg" alt="">
        </a>
        <a href="https://www.linkedin.com/in/gabriel-ferreira-bento-27440a328/" target="_blank" class="conteudo__social__linkedin">
            <img src="~/Imagens/Redes/LinkedIN.svg" alt="">
        </a>
    </section>
</main>
