@{

}

<link rel="stylesheet" href="~/css/Paginas/projetos.css" asp-append-version="true" />

<main class="apresentacao">
    <section class="apresentacao__secao">
        <h1>Projetos Principais</h1>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 01</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 02</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 03</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 04</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 05</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 06</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 07</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 08</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
    </section>
    <section class="apresentacao__secao">
        <h1>Projetos Pessoais</h1>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 09</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 10</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 11</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
        <a class="card__link">
            <div class="card">
                <img class="card__imagem" src="~/Imagens/Projetos/ImagemGenerica.png" alt="" />
                <div class="card__descricao">
                    <h2>Projeto 12</h2>
                    <p>
                        Descricao: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla in sapien sit amet orci ultrices
                        porta vel quis nibh.
                    </p>
                </div>
            </div>
        </a>
    </section>
</main>