@{

}

<link rel="stylesheet" href="~/css/Paginas/sobremim.css" asp-append-version="true" />

<main class="apresentacao">
    <section class="apresentacao__secao">
        <div class="apresentacao__conteudo">
            <p class="texto-conteudo">
                <span class="paragrafo">
                    Meu nome é Gabriel Bento Ferreira tenho 21 anos sou um homem branco com
                    cabelos pretos e olhos castanhos escuros estudei durante toda a minha vida
                    no Colégio Nossa Senhora do Carmo, na qual completei todo meu estudo e em
                    2020 durante a pandemia acabei fazendo o vestibular para entrar na faculdade
                    de Araraquara Uniara mas me transferi para o
                    São Luis que é onde estou no momento no meu último ano.
                </span>

                <span>
                    Estudo sistemas de informação atualmente no último ano de faculdade tenho
                    bastante conhecimento em C# para back-end e CSS e HTML para Front-end,
                    estou estudando também a tecnologia ASP.NET para criação de sites com C#
                    além do estudo da plataforma UNITY para criação de game development.
                </span>

                <span>
                    Pretendo ajudar no que for possível a empresa em que estou no momento a
                    assuntos relacionados a programação para que ela cresça no quesito de
                    tecnologia, espero que nossa parceria possa dar certo.
                </span>
            </p>
        </div>
        <div class="conteudo__foto">
            <img class="foto" src="~/Imagens/Fotos/Foto_SobreMim.jpeg" alt="Foto Do Dono do Portifólio">
        </div>
    </section>
</main>